<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script type="text/javascript" src="/script.js"></script>
  <title>The Main</title>
</head>

<body>
  <div class="nav-bar">
    <div class="nav-el">
      <a href="/">Main</a>
    </div>
    <div class="nav-el">
      <a href="/fiveday">5 Day</a>
    </div>
    <div class="nav-el">
      <a href="/tenday">10 Day</a>
    </div>
    <div class="nav-el">
      <a href="/activities">Activities</a>
    </div>
  </div>
  <div class="container">
    {{{body}}}
  </div>
</body>

</html>
