<div class="sixteenday">
  <h2>Sixteen Day Forecast</h2>
  <div class="multi-day-list">
    <ul>
      <li>
        <div class="sixteenday-day"></div>
        <div class="sixteenday-forecast"></div>
      </li>
      <li>
        <div class="sixteenday-day"></div>
        <div class="sixteenday-forecast"></div>
      </li>
      <li>
        <div class="sixteenday-day"></div>
        <div class="sixteenday-forecast"></div>
      </li>
      <li>
        <div class="sixteenday-day"></div>
        <div class="sixteenday-forecast"></div>
      </li>
      <li>
        <div class="sixteenday-day"></div>
        <div class="sixteenday-forecast"></div>
      </li>
      <li>
        <div class="sixteenday-day"></div>
        <div class="sixteenday-forecast"></div>
      </li>
      <li>
        <div class="sixteenday-day"></div>
        <div class="sixteenday-forecast"></div>
      </li>
      <li>
        <div class="sixteenday-day"></div>
        <div class="sixteenday-forecast"></div>
      </li>
      <li>
        <div class="sixteenday-day"></div>
        <div class="sixteenday-forecast"></div>
      </li>
      <li>
        <div class="sixteenday-day"></div>
        <div class="sixteenday-forecast"></div>
      </li>
      <li>
        <div class="sixteenday-day"></div>
        <div class="sixteenday-forecast"></div>
      </li>
      <li>
        <div class="sixteenday-day"></div>
        <div class="sixteenday-forecast"></div>
      </li>
      <li>
        <div class="sixteenday-day"></div>
        <div class="sixteenday-forecast"></div>
      </li>
      <li>
        <div class="sixteenday-day"></div>
        <div class="sixteenday-forecast"></div>
      </li>
      <li>
        <div class="sixteenday-day"></div>
        <div class="sixteenday-forecast"></div>
      </li>
      <li>
        <div class="sixteenday-day"></div>
        <div class="sixteenday-forecast"></div>
      </li>
    </ul>
  </div>
</div>
