<div class="activities">

  <h1>Activities</h1>

  <div class="main-div"></div>
  <div class="description"></div>
  <div class="download-link"></div>
  <div class="things-to-do">
    <a href="https://www.google.com/search?q=what+to+do+in+oakland+ca" target="_blank">
      Find other things to do in Oakland!
    </a>
  </div>
</div>
