<div class="fiveday">
  <h1>5 day forecast</h1>

  <table>
    <th>
      <td></td>
      <td id="day0__title">Today</td>
      <td id="day1__title">Tomorrow</td>
      <td id="day2__title">3</td>
      <td id="day3__title">4</td>
      <td id="day4__title">5</td>
    </th>
    <tr class="temp-row">
      <td>Temp:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="high-row">
      <td>High:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="low-row">
      <td>Low:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="humid-row">
      <td>Humidity:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

  </table>

</div>
