<div class="dashboard">
  <h1>Weather dashboard</h1>
  <div class="weather-stats">
    <div class="bubble">
      <div class="temp"></div>
    </div>
    <div class="bubble">
      <div class="humidity"></div>
    </div>
    <div class="bubble">
      <div class="sky-condition"></div>
      <div class="condition-icon"></div>
    </div>
  </div>

</div>
