<div class="tenday">
  <h1>TEN DAY FORECAST</h1>
  <ul>
    <li>
      <div class="tenday-day">1</div>
      <div class="tenday-forecast">55 degrees</div>
    </li>
    <li>
      <div class="tenday-day">1</div>
      <div class="tenday-forecast">55 degrees</div>
    </li>
    <li>
      <div class="tenday-day">1</div>
      <div class="tenday-forecast">55 degrees</div>
    </li>
    <li>
      <div class="tenday-day">1</div>
      <div class="tenday-forecast">55 degrees</div>
    </li>
    <li>
      <div class="tenday-day">1</div>
      <div class="tenday-forecast">55 degrees</div>
    </li>
    <li>
      <div class="tenday-day">1</div>
      <div class="tenday-forecast">55 degrees</div>
    </li>
    <li>
      <div class="tenday-day">1</div>
      <div class="tenday-forecast">55 degrees</div>
    </li>
    <li>
      <div class="tenday-day">1</div>
      <div class="tenday-forecast">55 degrees</div>
    </li>
    <li>
      <div class="tenday-day">1</div>
      <div class="tenday-forecast">55 degrees</div>
    </li>
    <li>
      <div class="tenday-day">1</div>
      <div class="tenday-forecast">55 degrees</div>
    </li>
  </ul>
</div>
