<div class="tenday">
  <h2>Ten Day Forecast</h2>
  <ul>
    <li>
      <div class="tenday-day"></div>
      <div class="tenday-forecast"></div>
    </li>
    <li>
      <div class="tenday-day"></div>
      <div class="tenday-forecast"></div>
    </li>
    <li>
      <div class="tenday-day"></div>
      <div class="tenday-forecast"></div>
    </li>
    <li>
      <div class="tenday-day"></div>
      <div class="tenday-forecast"></div>
    </li>
    <li>
      <div class="tenday-day"></div>
      <div class="tenday-forecast"></div>
    </li>
    <li>
      <div class="tenday-day"></div>
      <div class="tenday-forecast"></div>
    </li>
    <li>
      <div class="tenday-day"></div>
      <div class="tenday-forecast"></div>
    </li>
    <li>
      <div class="tenday-day"></div>
      <div class="tenday-forecast"></div>
    </li>
    <li>
      <div class="tenday-day"></div>
      <div class="tenday-forecast"></div>
    </li>
    <li>
      <div class="tenday-day"></div>
      <div class="tenday-forecast"></div>
    </li>
  </ul>
</div>
