.nav-bar {
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
  height: 50px;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
}

.nav-bar .nav-el {
  border-right: 1px solid gray;
  width: 25%;
  text-align: center;
}

body {
  background-color: lightblue;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 1em;
}

a {
  text-decoration: none;
}

.fiveday, .sixteenday {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1em;
  padding-top: 2em;
}

.fiveday {
  font-size: 1.25em;
}

.fiveday table {
  text-align: center;
  font-size: 1em;
}
.fiveday table td, th {
  min-width: 100px;
}

.sixteenday li {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.sixteenday li div {
  padding: 1em;
}

.condition-icon img {
  width: 100px;
  height: 100px;
}

.dashboard {
  text-align: center;
}

.dashboard .weather-stats {
  display: flex;
  flex-direction: row;
  font-size: 4em;
  align-items: center;
  justify-content: center;
  height: 450px;
  max-height: 60%;
}

.dashboard .weather-stats .bubble {
  margin: 0.5em;
  width: 33%;
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 27vw;
  width: 33vw;
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
  max-height: 80%;
}

.bubble div {
  text-align: center;
  width: 100%;
}

.bubble .sky-condition {
  width: 60%;
}
.bubble .condition-icon {
  width: 40%;
}

.sky-condition {
  text-align: right;
}

.activities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activities .main-div img {
  max-height: 450px;
}

.slick-prev.slick-arrow {
  top: 0;
  position: absolute;
  left: 40px;
  z-index: 100;
}

.slick-next.slick-arrow {
  top: 0;
  position: absolute;
  right: 40px;
}

.slide {
  max-width: 400px;
  padding-bottom: 1em;
  background: #00dd99;
}

.slider-title h3 {
  margin: 0;
  margin-bottom: 0.3em;
}

.slide-title {
  margin: 0.3em;
}

.dashboard-title {
  margin: 0.5em;
}

.multi-day-list {
  overflow-y: scroll;
  height: 70%;
}

.multi-day-list::-webkit-scrollbar {
  background-color: lightgray;
  outline: 1px solid slategrey;
}

.multi-day-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.multi-day-list::-webkit-scrollbar-track {
  background-color: lightgray;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
